body {
  margin: 0;
  padding: 0;
  /* background-repeat: no-repeat;
  background: repeating-linear-gradient(
    to right,
    #e1e1e1,
    #ececec 6px,
    #f6f6f6 6px,
    #ffffff 12px
  ); */
}

/* #f6ba52,
#f6ba52 4px,
#ffd180 4px,
#ffd180 12px */
